<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-style">
            <div class="modal-header">
                <h4 class="modal-title aqum-font" id="exampleModalLabel">Техническая поддержка</h4>
            </div>
            <div class="modal-body">
                • При возникновении проблем и вопросов технического характера, Вы можете обратиться в поддержку через Телеграм <a href="https://t.me/B776YC" target="_blank" class="link-primary"><i class="ri-telegram-fill"></i> @B776YC</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary aqum-font" data-bs-dismiss="modal">Закрыть</button>
                <a href="https://t.me/B776YC" target="_blank" type="button" class="btn btn-primary aqum-font" style="background-color: #2d6eb4;">Перейти в Телеграм</a>
            </div>
        </div>
    </div>
</div>