{% load user_filters %}
<div class="table-responsive table-scroll" style="overflow: auto; height: 625px !important;">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                {% comment %} <th scope="col">№</th> {% endcomment %}
                <th scope="col">
                    <a class="link-light" href="?o={% if '-name' in querydict.o %}name,{{ querydict.o|checkoption:"-name" }}{% else %}-name,{{ querydict.o|checkoption:"name" }}{% endif %}">
                        Наименование
                    </a>

                    {% if '-name' in querydict.o %}
                    ▼
                    {% elif 'name' in querydict.o %}
                    ▲
                    {% endif %}
                    
                    {% if '-name' in querydict.o or 'name' in querydict.o %}
                      <a class="link-light" style="text-decoration: none;" href="?o={% if '-name' in querydict.o %}{{ querydict.o|checkoption:"-name" }}{% else %}{{ querydict.o|checkoption:"name" }}{% endif %}">
                        <small>  —</small>
                      </a>
                    {% endif %}
                </th>
                <th scope="col">
                  <a class="link-light" href="?o={% if '-marking' in querydict.o %}marking,{{ querydict.o|checkoption:"-marking" }}{% else %}-marking,{{ querydict.o|checkoption:"marking" }}{% endif %}">
                       Маркировка
                  </a> 

                  {% if '-marking' in querydict.o %}
                  ▼
                  {% elif 'marking' in querydict.o %}
                  ▲
                  {% endif %}
                  
                  {% if '-marking' in querydict.o or 'marking' in querydict.o %}
                    <a class="link-light" style="text-decoration: none;" href="?o={% if '-marking' in querydict.o %}{{ querydict.o|checkoption:"-marking" }}{% else %}{{ querydict.o|checkoption:"marking" }}{% endif %}">
                      <small>  —</small>
                    </a>
                  {% endif %}
              </th>
              <th>
                <a class="link-light" href="?o={% if '-amount' in querydict.o %}amount,{{ querydict.o|checkoption:"-amount" }}{% else %}-amount,{{ querydict.o|checkoption:"amount" }}{% endif %}">
                  Количество
                </a> 

                {% if '-amount' in querydict.o %}
                ▼
                {% elif 'amount' in querydict.o %}
                ▲
                {% endif %}
                
                {% if '-amount' in querydict.o or 'amount' in querydict.o %}
                  <a class="link-light" style="text-decoration: none;" href="?o={% if '-amount' in querydict.o %}{{ querydict.o|checkoption:"-amount" }}{% else %}{{ querydict.o|checkoption:"amount" }}{% endif %}">
                    <small>  —</small>
                  </a>
                {% endif %}
              </th>
              <th>
                <a class="link-light" href="?o={% if '-weight' in querydict.o %}weight,{{ querydict.o|checkoption:"-weight" }}{% else %}-weight,{{ querydict.o|checkoption:"weight" }}{% endif %}">
                  Вес
                </a> 

                {% if '-weight' in querydict.o %}
                ▼
                {% elif 'weight' in querydict.o %}
                ▲
                {% endif %}
                
                {% if '-weight' in querydict.o or 'weight' in querydict.o %}
                  <a class="link-light" style="text-decoration: none;" href="?o={% if '-weight' in querydict.o %}{{ querydict.o|checkoption:"-weight" }}{% else %}{{ querydict.o|checkoption:"weight" }}{% endif %}">
                    <small>  —</small>
                  </a>
                {% endif %}
              </th>
              <th>
                <a class="link-light" href="?o={% if '-volume' in querydict.o %}volume,{{ querydict.o|checkoption:"-volume" }}{% else %}-volume,{{ querydict.o|checkoption:"volume" }}{% endif %}">
                  Объем
                </a> 

                {% if '-volume' in querydict.o %}
                ▼
                {% elif 'volume' in querydict.o %}
                ▲
                {% endif %}
                
                {% if '-volume' in querydict.o or 'volume' in querydict.o %}
                  <a class="link-light" style="text-decoration: none;" href="?o={% if '-volume' in querydict.o %}{{ querydict.o|checkoption:"-volume" }}{% else %}{{ querydict.o|checkoption:"volume" }}{% endif %}">
                    <small>  —</small>
                  </a>
                {% endif %}
              </th>
              <th scope="col">
                  <a class="link-light" href="?o={% if '-add_date' in querydict.o %}add_date,{{ querydict.o|checkoption:"-add_date" }}{% else %}-add_date,{{ querydict.o|checkoption:"add_date" }}{% endif %}">
                      Дата приёма
                  </a> 

                  {% if '-add_date' in querydict.o %}
                  ▼
                  {% elif 'add_date' in querydict.o %}
                  ▲
                  {% endif %}
                  
                  {% if '-add_date' in querydict.o or 'add_date' in querydict.o %}
                    <a class="link-light" style="text-decoration: none;" href="?o={% if '-add_date' in querydict.o %}{{ querydict.o|checkoption:"-add_date" }}{% else %}{{ querydict.o|checkoption:"add_date" }}{% endif %}">
                      <small>  —</small>
                    </a>
                  {% endif %}
              </th>
              <th scope="col">Платное хранение с</th>
              <th scope="col">
                <a class="link-light" href="?o={% if '-issue_date' in querydict.o %}issue_date,{{ querydict.o|checkoption:"-issue_date" }}{% else %}-issue_date,{{ querydict.o|checkoption:"issue_date" }}{% endif %}">
                  Дата выдачи
                </a> 

                {% if '-issue_date' in querydict.o %}
                ▼
                {% elif 'issue_date' in querydict.o %}
                ▲
                {% endif %}
                
                {% if '-issue_date' in querydict.o or 'issue_date' in querydict.o %}
                  <a class="link-light" style="text-decoration: none;" href="?o={% if '-issue_date' in querydict.o %}{{ querydict.o|checkoption:"-issue_date" }}{% else %}{{ querydict.o|checkoption:"issue_date" }}{% endif %}">
                    <small>  —</small>
                  </a>
                {% endif %}
              </th>
              <th scope="col">Заказчик</th>
              <th scope="col">Комментарий</th>
              <th scope="col">🛠</th>
            </tr>
        </thead>

        <tbody id="table_info">
            {% for record in page_obj %}
                <tr>
                    {% comment %} <td><b>{{ record.pk }}</b></td> {% endcomment %}
                    <td>{{ record.name }}</td>
                    <td class="one-string">{{ record.marking  }}</td>
                    <td class="one-string">{{ record.amount  }} <small class="text-secondary">шт.</small></td>
                    <td class="one-string">{{ record.weight  }} <small class="text-secondary">кг.</small></td>
                    <td class="one-string">{{ record.volume  }} <small class="text-secondary">м³</small></td>
                    <td class="one-string">{{ record.add_date|date:"d.m.Y"  }}</td>
                    <td style="color: {{ record.add_date|paidstorage|checkdate:record.issue_date }};">
                      {{ record.add_date|paidstorage|date:"d.m.Y" }}
                      <small class="text-secondary">
                        {% if record.add_date|paidstoragesum %}
                          {{ record.volume|getpaidstoragesum:record.add_date }} руб.
                        {% else %}
                          0 руб.
                        {% endif %}
                      </small>
                    </td>
                    <td>
                      {% if record.issue_date %}
                        <span class="text-primary">{{ record.issue_date|date:"d.m.Y" }}</span>
                      {% else %}
                          <a class="link-secondary" href="{% url 'posts:record_add_issue' record.pk %}">
                            Не выдан  ✎
                          </a>
                      {% endif %}
                    </td>
                    <td>{{ record.recipient }}</td>
                    <td>
                        {% if not record.comment %}
                          <span class="text-body-secondary fw-lighter fst-italic">
                            Комменатрий отсуствует
                          </span>
                        {% else %}
                          {{ record.comment }}
                        {% endif %}
                    </td>
                    <td class="td-align">
                        <a type="button" class="btn btn-outline-dark" href="{% url 'posts:record_edit' record.pk %}">✎</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'posts/includes/modal_post.html' %}